/* file created by charles.torris@gmail.com */
/* 
    Created on : 8 oct. 2018, 10:03:54
    Author     : roger
*/
.text {
  padding: 20px;
}

@font-face {
  font-family: "cioFont";
  src: url("./fonts/Pixellari.eot");
  /* IE9 Compat Modes */
  src: url("./fonts/Pixellari.eot?#iefix") format("embedded-opentype"), url("./fonts/Pixellari.otf") format("opentype"), url("./fonts/Pixellari.svg") format("svg"), url("./fonts/Pixellari.ttf") format("truetype"), url("./fonts/Pixellari.woff") format("woff"), url("./fonts/Pixellari.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

.hidden {
  display: none;
}

input {
  background: #d77355;
  color: #e6c86e;
}

#logo {
  text-align: center;
}

@media (min-height: 700px) {
  #logo {
    margin: 20px;
  }
}

@media (max-height: 600px) {
  #logo {
    display: none;
  }
}

#connect {
  text-align: center;
}

h3 {
  color: #d77355;
}

body {
  background: url(../img/bg.png);
  color: #dcf5ff;
  font-family: "cioFont";
  font-size: 20px;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
}

body a {
  padding: 5px;
  margin-top: 10px;
  border: 1px solid #508cd7;
  color: #508cd7;
  width: 100%;
  display: block;
}

body a:hover {
  text-decoration: none;
  background: #508cd7;
  color: #dcf5ff;
}

body .centered {
  text-align: center;
}

body #game {
  position: relative;
}

body #game #chat {
  position: fixed;
  bottom: 50px;
  width: 100%;
  padding: 0;
  background: 0;
  height: 40px;
  border: none;
  color: #dcf5ff;
}

body #game #console {
  height: 100px;
  overflow-y: scroll;
  position: fixed;
  bottom: 100px;
  width: 90%;
  left: 96px;
  color: #dcf5ff;
}

body #game #console .notice {
  color: #e6c86e;
}

body canvas {
  display: block;
  margin: auto;
}

body canvas,
body img {
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

body .helper {
  cursor: pointer;
}

body .info {
  display: none;
}

body .modal-content {
  background: #e6c86e;
  color: #508cd7;
}

body .modal-content h2 {
  font-size: 24px;
  font-weight: bold;
}

body .playerfiche {
  display: none;
  z-index: 220;
  height: 512px;
  width: 1024px;
  background-color: black;
  position: fixed;
  background-image: url(../img/persona.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  right: 192px;
  margin-top: 64px;
}

body .playerfiche .container {
  height: 256px;
}

body .playerfiche .item,
body .playerfiche .unequip {
  z-index: 255;
  pointer-events: all;
  width: 64px;
  height: 64px;
  display: inline-block;
}

body .playerfiche .item:hover,
body .playerfiche .unequip:hover {
  background-color: #d77355;
  color: #d77355;
}

body .playerfiche .item.selectedItem,
body .playerfiche .unequip.selectedItem {
  background-color: #e6c86e !important;
}

body .playerfiche .looticon {
  width: 64px;
  height: 64px;
  background-image: url(../img/loot.png);
  pointer-events: none;
}

body .playerfiche .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .playerfiche .container #disableFilter {
  position: absolute;
  width: 64px;
  height: 65px;
}

body .playerfiche .container #disableFilter:hover {
  background: #dcf5ff;
}

body .playerfiche .container .inv {
  left: 192px;
  position: absolute;
  width: 512px;
  height: 384px;
}

body .playerfiche .container .inv .invslot {
  width: 64px;
  height: 64px;
  float: left;
  background-image: url(../img/invbg.png);
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

body .playerfiche .container .itemDetails {
  position: absolute;
  /* top: 270px; */
  right: 0;
  background: black;
  padding: 30px;
  width: 320px;
  height: 384px;
}

body .playerfiche .container .itemDetails h2 {
  color: #e6c86e;
  text-transform: uppercase;
}

body .playerfiche .container .itemDetails h3 {
  color: #508cd7;
}

body .playerfiche .container .slot {
  position: absolute;
  width: 64px;
  height: 64px;
  border: 1px solid #508cd7;
}

body .playerfiche .container .slot .selected {
  background: 1px solid #d77355;
}

body .playerfiche .container .slot1 {
  left: 64px;
}

body .playerfiche .container .slot2 {
  left: 64px;
  top: 64px;
}

body .playerfiche .container .slot3 {
  left: 64px;
  top: 128px;
}

body .playerfiche .container .slot4 {
  left: 64px;
  top: 192px;
}

body .playerfiche .container .slot5 {
  left: 0;
  top: 64px;
}

body .playerfiche .container .slot6 {
  left: 0;
  top: 128px;
}

body .playerfiche .container .slot7 {
  left: 128px;
  top: 64px;
}

body .playerfiche .container .slot8 {
  left: 128px;
  top: 128px;
}

body #powers {
  position: absolute;
  left: 0;
  bottom: 0;
}

body #powers .keypower {
  display: block;
  position: relative;
  width: 64px;
  height: 64px;
  background-image: url(../img/buttons.png);
  color: #dcf5ff;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

body #powers .keypower.empty {
  opacity: 0;
}

body #powers .keynum {
  background: url(../img/key.png);
  display: inline-block;
  width: 32px;
  height: 32px;
  color: black;
  text-align: center;
  padding-top: 5px;
  pointer-events: none;
}

body #powers .keynum.autokey {
  background: url(../img/autokey.png);
}

body #powers .keynum div,
body #powers .keynum span {
  pointer-events: none;
}

body #powers .cooling {
  color: #d77355;
}

body #powers .cooldown {
  margin-left: 20px;
}

body #bar {
  position: absolute;
  right: 0;
  top: 64px;
  width: 128px;
  height: 500px;
}

body #bar .button64 {
  background-image: url(../img/buttons.png);
  width: 64px;
  height: 64px;
  position: relative;
  cursor: pointer;
}

body #bar .button64:before {
  content: "";
  background-image: url(../img/buttons.png);
  width: 64px;
  height: 64px;
  position: absolute;
}

body #bar .button64.inventory:before {
  background-position: -128px 0;
}

body #bar .button64.takeloot:before {
  background-position: -64px 0;
}

body #bar .button64.rez:before {
  background-position: -192px 0;
}

body #bar .button64.stairs:before {
  background-position: -256px 0;
}

body #bar .arrowscontainer {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 192px;
  height: 192px;
}

body #bar .arrowscontainer .arrows {
  width: 192px;
  height: 192px;
  display: inline-block;
  position: relative;
}

body #bar .arrowscontainer .arrows .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #bar .arrowscontainer .arrows .row .arrow {
  position: relative;
  width: 64px;
  height: 64px;
  margin: 0;
  cursor: pointer;
}

body #bar .arrowscontainer .arrows .row .arrow:before {
  content: "";
  background-image: url(../img/buttons.png);
  width: 64px;
  height: 64px;
  position: absolute;
}

body #bar .arrowscontainer .arrows .row .arrow:after {
  content: "";
  background-image: url(../img/arrows.png);
  width: 64px;
  height: 64px;
  position: absolute;
}

body #bar .arrowscontainer .arrows .row .arrow.a1:after {
  background-position: 0 0;
}

body #bar .arrowscontainer .arrows .row .arrow.a2:after {
  background-position: -64px 0;
}

body #bar .arrowscontainer .arrows .row .arrow.a3:after {
  background-position: -128px 0;
}

body #bar .arrowscontainer .arrows .row .arrow.b1:after {
  background-position: 0 -64px;
}

body #bar .arrowscontainer .arrows .row .arrow.b2:after {
  background-position: -64px -64px;
}

body #bar .arrowscontainer .arrows .row .arrow.b3:after {
  background-position: -128px -64px;
}

body #bar .arrowscontainer .arrows .row .arrow.c1:after {
  background-position: 0 -128px;
}

body #bar .arrowscontainer .arrows .row .arrow.c2:after {
  background-position: -64px -128px;
}

body #bar .arrowscontainer .arrows .row .arrow.c3:after {
  background-position: -128px -128px;
}

body .music {
  /*display:none;*/
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
}

body .music div {
  border: none !important;
  background: #55415f !important;
  color: #508cd7 !important;
  background-image: none !important;
}

body .music div.progress {
  background: #508cd7 !important;
}

body .music div.scrubber {
  width: 100px;
}
/*# sourceMappingURL=style.css.map */