/* file created by charles.torris@gmail.com *//* 
    Created on : 8 oct. 2018, 10:03:54
    Author     : roger
*/

@mixin transition($value){ //opacity 1s ease-in-out
                           -webkit-transition: $value;
                           -moz-transition: $value;
                           -ms-transition: $value;
                           -o-transition: $value;
                           transition: $value;
}

@mixin flexbox() { 
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox; 
    display: -webkit-flex;  
    display: flex;
}

$jaune : #fbf236;
$jauneb : #e8df21;
$rouge : #ac3232;
$bleu : #086072; 

$bp : 780px;  

.hidden{
    display:none; 
}


input{
    background:$rouge;
    color:$jaune;
}

#logo{
    text-align:center;
    @media(min-height:700px){
        margin: 20px;
    }
    @media(max-height:600px){
       display: none; 
    }
}
#connect{
    text-align:center;
}

body{
    background:url(../img/bg.png);
    font-family: 'Yantramanav', sans-serif;
    color:white;
   
    .centered{
        text-align:center;

    }
    #game{
        position: relative;

        #chat{
            position: absolute;
            bottom: -641px;
            width: 800px;
            padding: 0;
            background: 0;
            height: 40px;
            border: 1px solid blue;
            color: white;
            font-size: 20px;
        }
        #console{
            position: absolute;
            height: 100px;
            overflow-y: scroll;
            width: 800px;
            top: 500px;
            color: white;
            pointer-events: none;
            .notice{
              color : $jaune;   
            }
        }
        #sidepanel{
            position: absolute;
            left: 810px;
            #target{
                color : $rouge;
                height:100px;
            }
            .keynum{
                background:url(../img/key.png);
                display:inline-block;
                width: 32px;
                height: 32px;
                color: black;
                text-align: center;
                padding-top: 5px;
                &.autokey{
                    background:url(../img/autokey.png);
                }
               
            }
            .keypower{
                color: $jaune;
                height: 32px;
            }
            .cooling{
                color: $rouge;
            }
            .cooldown{
                margin-left:20px;
            }
        }
    }
    #gamecanvas{
        pointer-events: none;
        position: absolute;      
    } 
    .helper{
        cursor: pointer;
    } 
    .info{
        display:none;
       
    }
    .modal-content{ 
        background: $jaune;
        color: $bleu;
        h2{
            font-size:24px;
            font-weight:bold;
        }
    }
}