/* file created by charles.torris@gmail.com */
/* 
    Created on : 8 oct. 2018, 10:03:54
    Author     : roger
*/


@mixin transition($value) {
    //opacity 1s ease-in-out
    -webkit-transition: $value;
    -moz-transition: $value;
    -ms-transition: $value;
    -o-transition: $value;
    transition: $value;
}

@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

$jaune : #e6c86e;
$rouge : #d77355;
$bleu : #508cd7;
$blanc: #dcf5ff;
$bp : 780px;

.text {
    padding: 20px;
}

@font-face {
    font-family: "cioFont";
    src: url("./fonts/Pixellari.eot");
    /* IE9 Compat Modes */
    src: url("./fonts/Pixellari.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("./fonts/Pixellari.otf") format("opentype"),
        /* Open Type Font */
        url("./fonts/Pixellari.svg") format("svg"),
        /* Legacy iOS */
        url("./fonts/Pixellari.ttf") format("truetype"),
        /* Safari, Android, iOS */
        url("./fonts/Pixellari.woff") format("woff"),
        /* Modern Browsers */
        url("./fonts/Pixellari.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}


.hidden {
    display: none;
}


input {
    background: $rouge;
    color: $jaune;
}

#logo {
    text-align: center;

    @media(min-height: 700px) {
        margin: 20px;
    }

    @media(max-height:600px) {
        display: none;
    }
}

#connect {
    text-align: center;
}

h3 {
    color: $rouge;
}

body {
    background: url(../img/bg.png);
    color: $blanc;
    font-family: "cioFont";
    font-size: 20px;

    a {
        &:hover {
            text-decoration: none;
            background: $bleu;
            color: $blanc;
        }

        padding:5px;
        margin-top:10px;
        border:1px solid $bleu;
        color: $bleu;
        width:100%;
        display:block;
    }

    .centered {
        text-align: center;
    }

    #game {
        position: relative;

        #chat {
            position: fixed;
            bottom: 50px;
            width: 100%;
            padding: 0;
            background: 0;
            height: 40px;
            border: none;
            color: $blanc;

        }

        #console {
            height: 100px;
            overflow-y: scroll;
            position: fixed;
            bottom: 100px;
            width: 90%;
            left: 96px;

            color: $blanc;

            .notice {
                color: $jaune;
            }
        }


    }

    canvas {
        display: block;
        margin: auto;
    }

    canvas,
    img {
        image-rendering: crisp-edges;
        image-rendering: -moz-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: optimize-contrast;
        -ms-interpolation-mode: nearest-neighbor;
    }

    .helper {
        cursor: pointer;
    }

    .info {
        display: none;
    }

    .modal-content {
        background: $jaune;
        color: $bleu;

        h2 {
            font-size: 24px;
            font-weight: bold;
        }
    }

    .playerfiche {
        display: none;
        z-index: 220;
        height: 512px;
        width: 1024px;
        background-color: black;
        position: fixed;
        background-image: url(../img/persona.png);
        background-repeat: no-repeat;
        background-position: 0 0;
        right: 192px;
        margin-top: 64px;

        .container {
            height: 256px;
        }

        .item,
        .unequip {
            z-index: 255;
            pointer-events: all;
            width: 64px;
            height: 64px;
            display: inline-block;
        }

        .item:hover,
        .unequip:hover {
            background-color: $rouge;
            color: $rouge;
        }

        .item.selectedItem,
        .unequip.selectedItem {
            background-color: $jaune !important;
        }

        .looticon {
            width: 64px;
            height: 64px;
            background-image: url(../img/loot.png);
            pointer-events: none;
        }

        .container {
            position: relative;
            @include flexbox();


            #disableFilter {
                position: absolute;
                width: 64px;
                height: 65px;
            }

            #disableFilter:hover {
                background: $blanc;
            }

            .inv {
                left: 192px;
                position: absolute;
                width: 512px;
                height: 384px;

                .invslot {
                    width: 64px;
                    height: 64px;
                    float: left;
                    background-image: url(../img/invbg.png);
                    background-repeat: no-repeat;
                    margin: 0;
                    padding: 0;
                }

            }

            .itemDetails {
                position: absolute;
                /* top: 270px; */
                right: 0;
                background: black;
                padding: 30px;
                width: 320px;
                height: 384px;

                h2 {
                    color: $jaune;
                    text-transform: uppercase;
                }

                h3 {
                    color: $bleu;
                }
            }


            .slot {
                position: absolute;
                width: 64px;
                height: 64px;
                border: 1px solid $bleu;

                .selected {
                    background: 1px solid $rouge;
                }
            }


            .slot1 {
                left: 64px;
            }

            .slot2 {
                left: 64px;
                top: 64px;
            }

            .slot3 {
                left: 64px;
                top: 128px;
            }

            .slot4 {
                left: 64px;
                top: 192px;
            }

            .slot5 {
                left: 0;
                top: 64px;
            }

            .slot6 {
                left: 0;
                top: 128px;
            }

            .slot7 {
                left: 128px;
                top: 64px;
            }

            .slot8 {
                left: 128px;
                top: 128px;
            }
        }
    }

    #powers {
        position: absolute;
        left: 0;
        bottom: 0;

        .keypower {
            display: block;
            position: relative;
            width: 64px;
            height: 64px;
            background-image: url(../img/buttons.png);
            color: $blanc;
            padding: 10px;
            text-align: center;
            cursor: pointer;

            &.empty {
                opacity: 0;
            }
        }

        .keynum {
            background: url(../img/key.png);
            display: inline-block;
            width: 32px;
            height: 32px;
            color: black;
            text-align: center;
            padding-top: 5px;
            pointer-events: none;

            &.autokey {
                background: url(../img/autokey.png);
            }

            div,
            span {
                pointer-events: none;
            }

        }

        .cooling {
            color: $rouge;
        }

        .cooldown {
            margin-left: 20px;
        }
    }

    #bar {
        position: absolute;
        right: 0;
        top: 64px;
        width: 128px;
        height: 500px;







        .button64 {
            background-image: url(../img/buttons.png);
            width: 64px;
            height: 64px;
            position: relative;
            cursor: pointer;

            &:before {
                content: "";
                background-image: url(../img/buttons.png);
                width: 64px;
                height: 64px;
                position: absolute;
            }

            &.inventory {
                &:before {
                    background-position: -128px 0;
                }
            }

            &.takeloot {
                &:before {                   
                    background-position: -64px 0;
                }
            }

            &.rez {
                &:before {                   
                    background-position: -192px 0;
                }
            }
            &.stairs {
                &:before {                   
                    background-position: -256px 0;
                }
            }


        }

        .arrowscontainer {
            position: fixed;
            right: 0;
            bottom: 0;
            width: 192px;
            height: 192px;

            .arrows {

                width: 192px;
                height: 192px;
                display: inline-block;
                position: relative;

                .row {
                    @include flexbox();

                    .arrow {
                        position: relative;
                        width: 64px;
                        height: 64px;
                        margin: 0;
                        cursor: pointer;

                        &:before {
                            content: "";
                            background-image: url(../img/buttons.png);
                            width: 64px;
                            height: 64px;
                            position: absolute;
                        }

                        &:after {
                            content: "";
                            background-image: url(../img/arrows.png);
                            width: 64px;
                            height: 64px;
                            position: absolute;

                        }

                        &.a1 {
                            &:after {
                                background-position: 0 0;
                            }
                        }

                        &.a2 {
                            &:after {
                                background-position: -64px 0;
                            }
                        }

                        &.a3 {
                            &:after {
                                background-position: -128px 0;
                            }
                        }

                        &.b1 {
                            &:after {
                                background-position: 0 -64px;
                            }
                        }

                        &.b2 {
                            &:after {
                                background-position: -64px -64px;
                            }
                        }

                        &.b3 {
                            &:after {
                                background-position: -128px -64px;
                            }
                        }

                        &.c1 {
                            &:after {
                                background-position: 0 -128px;
                            }
                        }

                        &.c2 {
                            &:after {
                                background-position: -64px -128px;
                            }
                        }

                        &.c3 {
                            &:after {
                                background-position: -128px -128px;
                            }
                        }

                    }
                }

            }
        }



    }



}

/*# sourceMappingURL=style.css.map */