/* file created by charles.torris@gmail.com */
/* 
    Created on : 8 oct. 2018, 10:03:54
    Author     : roger
*/


@mixin transition($value) {
    //opacity 1s ease-in-out
    -webkit-transition: $value;
    -moz-transition: $value;
    -ms-transition: $value;
    -o-transition: $value;
    transition: $value;
}

@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

$jaune : #e6c86e;
$rouge : #d77355;
$bleu : #508cd7;
$blanc: #dcf5ff;
$bp : 780px;



@font-face {
    font-family: "cioFont";
    src: url("./fonts/Pixellari.eot");
    /* IE9 Compat Modes */
    src: url("./fonts/Pixellari.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("./fonts/Pixellari.otf") format("opentype"),
        /* Open Type Font */
        url("./fonts/Pixellari.svg") format("svg"),
        /* Legacy iOS */
        url("./fonts/Pixellari.ttf") format("truetype"),
        /* Safari, Android, iOS */
        url("./fonts/Pixellari.woff") format("woff"),
        /* Modern Browsers */
        url("./fonts/Pixellari.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}


.hidden {
    display: none;
}


input {
    background: $rouge;
    color: $jaune;
}

#logo {
    text-align: center;

    @media(min-height: 700px) {
        margin: 20px;
    }

    @media(max-height:600px) {
        display: none;
    }
}

#connect {
    text-align: center;
}

body {
    background: url(../img/bg.png);
    color: white;
    font-family: "cioFont";
    font-size: 20px;

    .centered {
        text-align: center;

    }

    #game {
        position: relative;

        #chat {
            position: fixed;
            bottom: 50px;
            width: 100%;
            padding: 0;
            background: 0;
            height: 40px;
            border: none;
            color: white;

        }

        #console {
            height: 100px;
            overflow-y: scroll;
            position: fixed;
            bottom: 100px;
            width: 100%;


            color: white;
            pointer-events: none;

            .notice {
                color: $jaune;
            }
        }

        #sidepanel {
            position: fixed;
            bottom: 0;
            width: 100%;

            #powers {
                background: black;
                position: fixed;
                bottom: 0;
                width: 100%;
            }

            #target {
                color: $rouge;
                height: 100px;
                display: none;
            }

            .notice {
                display: none;
            }

            .helper {
                display: none;
            }

            .keynum {
                background: url(../img/key.png);
                display: inline-block;
                width: 32px;
                height: 32px;
                color: black;
                text-align: center;
                padding-top: 5px;

                &.autokey {
                    background: url(../img/autokey.png);
                }

            }

            .keypower {
                display: inline-block;
                width: 19%;
                color: $blanc;
                height: 32px;
            }

            .cooling {
                color: $rouge;
            }

            .cooldown {
                margin-left: 20px;
            }
        }
    }

    canvas {
        display: block;
        margin: auto;
    }

    canvas,
    img {
        image-rendering: crisp-edges;
        image-rendering: -moz-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: optimize-contrast;
        -ms-interpolation-mode: nearest-neighbor;
    }

    .helper {
        cursor: pointer;
    }

    .info {
        display: none;

    }

    .modal-content {
        background: $jaune;
        color: $bleu;

        h2 {
            font-size: 24px;
            font-weight: bold;
        }
    }

    .playerfiche {
        display: none;
        z-index: 220;
        height: 256px;
        width: 512px;
        background-color: black;
        position: absolute;
        background-image: url(../img/persona.png);
        background-repeat: no-repeat;
        background-position: left;
        margin-left: calc(50% - 256px);
        margin-top: 20px;

        .item,
        body .playerfiche .unequip {
            z-index: 255;
            pointer-events: all;
            width: 64px;
            height: 64px;
            display: inline-block;
        }

        .item:hover,
        body .playerfiche .unequip:hover {
            background-color: $rouge;
            color: $rouge;
        }

        .item.selectedItem,
        body .playerfiche .unequip.selectedItem {
            background-color: $jaune !important;
        }

        .looticon {
            width: 64px;
            height: 64px;
            background-image: url(../img/loot.png);
            pointer-events: none;
        }

        .container {
            position: relative;

            #disableFilter {
                position: absolute;
                width: 64px;
                height: 65px;
            }

            #disableFilter:hover {
                background: white;
            }

            .inv {
                right: 0;
                position: absolute;
                width: 312px;
                height: auto;
            }

            .inv .invslot {
                width: 64px;
                height: 64px;
                float: left;
                background-image: url(../img/invbg.png);
                background-repeat: no-repeat;
                margin: 0;
                padding: 0;
            }

            .itemDetails {
                position: absolute;
                /* top: 270px; */
                left: 460px;
                background: black;
                padding: 30px;
                width: 290px;
            }

            .itemDetails h2 {
                color: $jaune;
                text-transform: uppercase;
            }

            .itemDetails h3 {
                color: $bleu;
            }

            .slot {
                position: absolute;
                width: 64px;
                height: 64px;
                border: 1px solid $bleu;
            }

            .slot.selected {
                background: 1px solid $rouge;
            }

            .slot1 {
                left: 64px;
            }

            .slot2 {
                left: 64px;
                top: 64px;
            }

            .slot3 {
                left: 64px;
                top: 128px;
            }

            .slot4 {
                left: 64px;
                top: 192px;
            }

            .slot5 {
                left: 0;
                top: 64px;
            }

            .slot6 {
                left: 0;
                top: 128px;
            }

            .slot7 {
                left: 128px;
                top: 64px;
            }

            .slot8 {
                left: 128px;
                top: 128px;
            }
        }
    }

}

/*# sourceMappingURL=style.css.map */